<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3YF5373ItzZxkfzso-Ad5nunwcNxnp70</string>
	<key>GCM_SENDER_ID</key>
	<string>141006365278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apkings.TulumDeliverys</string>
	<key>PROJECT_ID</key>
	<string>tulum-deliverys</string>
	<key>STORAGE_BUCKET</key>
	<string>tulum-deliverys.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:141006365278:ios:32306f96cf9da88c370acf</string>
</dict>
</plist>
